body {
    font-family: Arial;
    margin: 20px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
}
body {
    background-color: #71aadc; /* light blue background */
}

h1 {
    color: #2f5d89; /* dark blue/gray */
}

p {
    color: #b35454; /* readable dark text */
}