body {
    font-family: Arial;
    margin: 20px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
}
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
nav a:hover {
    text-decoration: underline;
}
.highlight {
    color: rgb(198, 207, 77);
    background-color: #0077cc;
    padding: 10px;
}
